h2{
    color: rgb(7, 7, 109);
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding-right: 50%;

}
.design{
    color: rgb(255, 177, 32);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
    height: 350px;
}
.half-width img{
    width: 60%;
}
.link-button{
    background-color: orange;
    padding: 5px;
    text-decoration: none;
}
a{
    font-family: 'Roboto', sans-serif;
}
p{
    text-align: justify;
    text-decoration: bold;
    font-size: 25px;
    padding-right: 20%;
    font-family: 'Roboto', sans-serif;
}
h1{
    margin-top: 10%;
}

#third{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.desingning{
    color: rgb(255, 177, 32);
  
}
.row{
    display: table;
    background-color: whitesmoke;
}

.one-third{
    width: 30%;
    float: left;
    padding: 5px;
    background-color: white;
    box-shadow: 10px 10px 40px darkviolet;
    border-radius: 5px;
    height: 80%;
    padding-left: 2%;
}
.one-third img{
    width: 100%;
}
.font{
    font-family: 'Roboto', sans-serif;
    color: rgba(22, 22, 170, 0.685);
}
#first{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, blue);
   border-image-slice: 1;

}
#second{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, blue);
   border-image-slice: 1;

}
#fourth{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, red, blue);
   border-image-slice: 1;

}
h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    
    
}
.work{
    color:white;
}
p{
    font-size: 20px;
    
    font-family: 'Roboto', sans-serif;
}
.last{
  background-color: blue;  
  height: 125px;
  width:700px;
  margin-left: 25%;
  margin-bottom: 5px;

  
}

h1{
    text-align: left;
   
}
.lets-chat{
   margin-left: 500px;
   
   
}
.work{
    margin-left: 15px;
    
}
.link-button{
    border-radius: 5px;
   
    color: white;
    position: relative;
    

}
.last{
    border-radius: 10px;
}

